@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

body {
    font-family: 'Inter', sans-serif;
}
.rubik {
    font-family: 'Rubik', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* header StRT */
header {
    margin: 0 auto;
    width: 1920px;
    background-image: url(../media/header.Images/Rectangle\ 1\ \(2\).png);
    background-repeat: no-repeat;
    background-size: contain;

}

.shadowHeader {
    width: 100%;
    height: 259px;
    background: linear-gradient(180deg, #000000 10.42%, rgba(0, 0, 0, 0.09375) 79.69%, rgba(0, 0, 0, 0) 100%);
}

nav {
    width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 10px;
    gap: 30px;
}

nav:hover {
    cursor: pointer;
}

.listItem {
    list-style-type: none;
}

.listss {
    position: relative;
    bottom: 30px;
}

.listItem a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.listItem a:hover {
    color: gold;
}

.unorderList {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    gap: 27px;
    border-top: 1px dashed rgba(132, 108, 108, 0.809);
    border-bottom: 1px dashed rgba(158, 178, 178, 0.404);
}


.underText {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1020px;
    position: relative;
    bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #B6B6B6;
}

.navImg {
    margin-bottom: 84px
}

.locationHeader {
    margin: 0 auto;
    width: 1143px;
    height: 864px;
    background-image: url(../media/header.Images/location.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 100px;
}

.scrooolimg {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 100px;
    left: 80px;
    display: none;
}

.centerShadow {
    margin: 0 auto;
    width: 1144px;
    height: 423px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
    filter: blur(150px);
}

.centerShadow22 {
    display: none;
}

.wrapper {
    position: absolute;
    top: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapper22 {
    display: none;
}

.headerTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    color: #DBA833;
}

.headerTitle:hover {
    cursor: pointer;
}

.whiteText {
    color: white;
}

.headertext {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #CECECE;
}

.headerBtn {
    width: 288px;
    height: 54px;
    background-color: #DBA833;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    transition: all 1s;
}

.headerBtn:hover {
    cursor: pointer;
    transform: scale(0.98);
    background-color: #dba933c5;
    transition: all 1s;
}

.endGradient {
    width: 100%;
    height: 10px;
    background: linear-gradient(180deg, rgba(44, 44, 44, 0) 0%, #2C2C2C 100%);
}

.endText {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 100px;
    /* top: 300px; */
}

/* next */

.centerBox {
    margin: 0 auto;
    width: 1920px;
    height: 800px;
    display: flex;

}

.boxLeft {
    width: 960px;
    height: 800px;
    background-image: url(../media/header.Images/vagon.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.boxRight {
    width: 960px;
    height: 800px;
    background-image: url(../media/header.Images/yaxta.png);
    background-position-x: right;
}

.bottomBox {
    width: 530px;
    height: 400px;
    background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(2.5px);
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 10px;
}

.topBox {
    width: 530px;
    height: 400px;
    background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(2.5px);
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10px;
}

.hh {
    width: 350px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
}

.pp {
    width: 350px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #CECECE;
}

.btnnn {
    width: 350px;
    height: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #DBA833;
    border-radius: 5px;
    border: none;
}

.btnnn:hover {
    background: #c79318d0;

}

.endSection {
    width: 1920px;
    height: 400px;
    margin: 0 auto;
    background-image: url(../media/header.Images/moon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    justify-content: center;
}

.endBox11 {
    position: relative;
    left: 260px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 400px;
    background: rgba(44, 44, 44, 0.8);
    backdrop-filter: blur(2.5px);
}

/* hEADER END */
